<% if(musicArray){ %>
<% musicArray.forEach(artist => { %>

<section>
  <div>
  <h2><%= artist.name %></h2>
  <p><%= artist.teaser +" " + artist.wikilink  %></p>
  <a href="<%= artist.youtubeLink %>">Youtube Channel for this artist</a>
  </div>
  <iframe width="200" height="150" src="<%= artist.youtubeLink %>" frameborder="0">
  </iframe>
</section>
<% }) %>
<% } else { %>
<p>Sorry! Something went wrong - we couldn't find you related artists.</p>
<% } %>