<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About the Devs</title>
</head>

<body>
    <h1>About Us</h1>

    <section>
        <img src="" alt="">
        <p>Vik Akam is really cool </p>
    </section>

    <section>
        <img src="" alt="">
        <p>Peter Alba is super cool too</p>
    </section>

    <section>
        <img src="" alt="">
        <p>Laura Antonius is also cool</p>
    </section>

    <section>
        <img src="" alt="">
        <p>Isaac Nelson is the coolest</p>
    </section>

</body>

</html>