<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About the Devs</title>
</head>

<body>
    <h1>About Us</h1>

    <section>
        <img src="" alt="">
        <p>Vik Akam is really cool </p>
    </section>

    <section>
        <img src="" alt="">
        <p>My name is Pete Alba and I'm a javascript software developer with a background in music/education. Music software has become a valuable resource in music
            education, music production and countless of other areas . I would love to work in an area of coding that seeks to educate or entertain in some way and I believe my
            ability to inspire my students will help me become a valuable asset in this arena.</p>
    </section>

    <section>
        <img src="" alt="">
        <p>Laura Antonius is also cool</p>
    </section>

    <section>
        <img src="" alt="">
        <p>Isaac Nelson is the coolest</p>
    </section>

</body>

</html>