<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About the Devs</title>
</head>

<body>
    <h1>About Us</h1>

    <section>
        <img src="" alt="">
        <p>Vik Akam is really cool </p>
    </section>

    <section>
        <img src="" alt="">
        <p>My name is Pete Alba and I'm a javascript software developer with a background in music/education. Music software has become a valuable resource in music
            education, music production and countless of other areas . I would love to work in an area of coding that seeks to educate or entertain in some way and I believe my
            ability to inspire my students will help me become a valuable asset in this arena.</p>
    </section>

    <section>
        <img src="" alt="">
        <p>Laura Antonius is also cool</p>
    </section>

    <section>
        <img src="" alt="">
        <p>I'm Isaac Nelson and I am a fullstack web developer, a transitioning Marine Corps Veteran, and very soon to be a brand new father! In my past I found myself always wanting more out of my jobs, I remember my first squad leader telling me that I was always so reserved because the things we were doing were not intelectually engaging enough for me. I'll be honest I had no idea what he was talking about until I decided to give coding a try last summer. Now I understand, once I engaged in the level of mental exercise that programming takes, it felt like my mind was finally stretching it's legs! I love learning what it takes to create something new, for the first time in my life I feel real meaning in what I do, And I cant wait to do more! </p>
    </section>

</body>

</html>