<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/error.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Permanent+Marker&display=swap" rel="stylesheet">
    <title>404 Not Found</title>

</head>

<body>
    <div id="error-div"<
    <h2>Oops!</h2>
    <p>Something went wrong. Try again!</p>
    <form action="/" method="get">
        <button id="error-button" type="submit">Start Over</button>
    </form>
    </div>
</body>

</html>