<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/indexLayout.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/indexModules.css">
  <link rel="stylesheet" href="/styles/state.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Permanent+Marker&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I'm Bored</title>
</head>

<body>
  <header>
    <section id="hamburger">
      <img src="/images/190-menu.png">
    </section>

    <div id="menu">
      <!-- this is hidden until hamburger menu is clicked -->
      <ul>
        <li>
          <form style="display: inline" action="/aboutUs" method="get"><button>About the Devs</button></form>
        </li>
        <li>
          <form style="display: inline" action="/favorites" method="get"><button>View My Favorites</button>
          </form>
        </li>
        <li>
          <form style="display: inline" action="/result" method="get"><button>My Most Recent Results</button>
          </form>
        </li>
        <li>
          <form style="display: inline" action="/" method="get"><button>Home</button></form>
        </li>
        <!-- add more options here -->
      </ul>
    </div>
  </header>
  <h1>I'm bored </h1>
  <div id="wideMenu">
    <!-- this is hidden until hamburger menu is clicked -->
    <ul>
      <li>
        <form style="display: inline" action="/aboutUs" method="get"><button>About the Devs</button></form>
      </li>
      <li>
        <form style="display: inline" action="/favorites" method="get"><button>View My Favorites</button></form>
      </li>
      <li>
        <form style="display: inline" action="/result" method="get"><button>My Most Recent Results</button></form>
      </li>
      <li>
        <form style="display: inline" action="/" method="get"><button>Home</button></form>
      </li>

    </ul>
  </div>
  <main>
    <div>
      <h2>Answer questions, get unbored.</h2>
      <form style="display: inline" action="/quiz" method="get"><button>Begin</button></form>
      <!-- <a id="quiz-link" href=""> Begin</a> -->
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/app.js"></script>
</body>

</html>