<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
    <link rel="stylesheet" href="/public/styles/state.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I'm Bored</title>
</head>

<body>
    <section id="hamburger">
        <img src="../../public/images/190-menu.png">
    </section>
    <header>
        <!-- this is hidden until hamburger menu is clicked -->
        <ul>
            <a href="/aboutUs"> About the Devs</a>
            <!-- add more options here -->
        </ul>
    </header>
    <div>
        <h1>i'm bored.</h1>
    </div>
    <main>
        <div>
            <a href="/quiz"> click here to activate fun.</a>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/public/app.js"></script>
</body>

</html>