<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/state.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>I'm Bored</title>
</head>

<body>
    <section id="hamburger">
        <img src="/images/190-menu.png">
    </section>

    <header>
        <!-- this is hidden until hamburger menu is clicked -->
        <ul>
            <li><a href="/aboutUs"> About the Devs</a></li>
            <!-- add more options here -->
        </ul>
    </header>

    <div>
        <h1>i'm bored.</h1>
        <h2>An app that gives you things to do when you don't know what to do.</h2>
    </div>

    <main>
        <div>
            <a id="quiz-link" href="/quiz"> click here to activate fun</a>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>