<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/quizLayout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/quizModules.css">
  <link rel="stylesheet" href="/styles/state.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Permanent+Marker&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I'm Bored</title>
</head>

<body>

  <header>
    <section id="hamburger">
      <img src="/images/190-menu.png">
    </section>

    <div id="menu">
      <!-- this is hidden until hamburger menu is clicked -->
      <ul>
        <li><a href="/aboutUs"> About the Devs</a></li>
        <li><a href="/favorites">View My Favorites</a></li>
        <li><a href="/result">My Most Recent Results</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </header>
  <main>
    <h1>Let's find you something to do.</h1>
    <div>

      <form id="details-form" action="<%= '/quiz?_method=PUT' %>" method='post'>

        <fieldset id="locationform">
          <hr>
          <h3>Where do you live?</h3>
          <input id="locationInput" type="text" name="location" placeholder="last location" required>
          <button id="showyelpbutton" type="submit">></button>
          <hr>
        </fieldset>

        <fieldset id="yelpform">
          <hr>
          <button id="showlocationbutton" type="submit">
            <</button> <h3> Are you feeling hungry?</h3>
              <label for="yes">Yes
                <input type="radio" name="hunger" value="yes" required>
              </label>
              <label for="no">No
                <input type="radio" name="hunger" value="no" required>
              </label>
              <button id="showtriviabutton" type="submit">></button>
              <hr>
        </fieldset>

        <fieldset id="trivia">
          <hr>
          <button id="showyelpbutton" type="submit">
            <</button> <h3>Select a trivia category:</h3>
              <label for="animals">Animals
                <input type="radio" name="trivia" value="animals" required>
              </label>
              <label for="celebrities">Celebrities
                <input type="radio" name="trivia" value="celebrities" required>
              </label>
              <label for="computers">Computer Science
                <input type="radio" name="trivia" value="computers" required>
              </label>
              <label for="sports">Sports
                <input type="radio" name="trivia" value="sports" required>
              </label>
              <label for="politics">Politics
                <input type="radio" name="trivia" value="politics" required>
              </label>
              <label for="history">History
                <input type="radio" name="trivia" value="history" required>
              </label>
              <label for="science-nature">Science and Nature
                <input type="radio" name="trivia" value="science-nature" required>
              </label>
              <button id="showeventsbutton" type="submit">></button>
              <hr>
              <hr>
        </fieldset>


        <fieldset id="eventfulform">
          <hr>
          <button id="showtriviabutton" type="submit">
            <</button> <h3>Choose your top interest from this list.</h3>
              <label for="concerts">Concerts
                <input type="radio" name="interest" value="concert" required>
              </label>
              <label for="festivals">Festivals
                <input type="radio" name="interest" value="festivals" required>
              </label>
              <label for="comedy">Comedy
                <input type="radio" name="interest" value="comedy" required>
              </label>
              <label for="family">Family
                <input type="radio" name="interest" value="family" required>
              </label>
              <label for="nightlife">Nightlife
                <input type="radio" name="interest" value="nightlife" required>
              </label>
              <label for="performing arts">Performing Arts
                <input type="radio" name="interest" value="performing arts" required>
              </label>
              <label for="sports">Sports
                <input type="radio" name="interest" value="sports" required>
              </label>
              <button id="showmusicbutton" type="submit">></button>
              <hr>
              <hr>
        </fieldset>

        <fieldset id="tastediveform">
          <hr>
          <button id="showeventsbutton" type="submit">
            <</button> <h3>Type in your favorite artist here:</h3>
              <input id="musicInput" type="text" name="music" placeholder="musician">
              <hr>
        </fieldset>
        <button id="finalsubmit" type="submit">Un-bore Me</button>

      </form>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/app.js"></script>
</body>

</html>