<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/styles/reset.css">
  <link rel="stylesheet" href="/public/styles/base.css">
  <link rel="stylesheet" href="/public/styles/layout.css">
  <link rel="stylesheet" href="/public/styles/modules.css">
  <link rel="stylesheet" href="/public/styles/state.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>I'm Bored</title>
</head>

<h1>The I'm Bored Quiz</h1>

</html>