<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Invalid City</title>
  <link rel="stylesheet" href="/styles/wrong-city.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Permanent+Marker&display=swap" rel="stylesheet">
</head>

<body>
  <div id="wrong-city">
  <h2>Oops!</h2>
  <p>Did you type in an invalid city?</p>
  <form action="/quiz" method="get">
    <button id="city-button" type="submit">Try again</button>
  </form>
  </div>
</body>

</html>
