body {
    box-sizing: border-box;
    max-width: 480px;
    /* display: flex; */
    font-family: 'Gothic A1', sans-serif;
}

@media screen and (min-width: 481px) {
    body {
        box-sizing: border-box;
        max-width: 100%;
        font-family: 'Gothic A1', sans-serif;
    }
}