body {
    box-sizing: border-box;
    max-width: 480px;
    /* display: flex; */
    font-family: 'Gothic A1', sans-serif;
}

@media (min-width: 480px) {
    body {
        box-sizing: border-box;
        max-width: 1200px;
        font-family: 'Gothic A1', sans-serif;
    }
}