main > h1:first-of-type {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  background-color: #011627;
  padding: 0;
}

h2 {
  background-color: #41EAD4;
  color: #011627;
}

h4, p, li {
  color: #011627;
}

main {
  margin: 0.5%;
}

section {
  width: 490px;
}

#news-section section div h2 {
  width: 240px;
}

li, a, h4 {
  font-family: 'Bree Serif', serif;
}

#news-section section div {
  width: 240px;
}

#food-section li {
  text-align: center;
}

#hamburger {
  background-color: #41EAD4;
  border: unset;
}
#hamburger:hover {
  background-color: rgb(148, 148, 185);
  
}
#wideMenu {
  background-color: rgb(49, 145, 135);
}
#wideMenu button:hover{
  background-color: rgb(164, 201, 255);
}
.seeNextFood {
  visibility: hidden;
}
.seeNextMusic {
  visibility: hidden;
}
.seeNextNews {
  visibility: hidden;
}
.seeNextEvent {
  visibility: hidden;
}