/* body {
} */
#hamburger{
    background-color: #6A75AF;
    border: solid 1px #2F3C83;
    border-radius: 10px;
    
}
h1 {
    font-size: 65px;
    background-color: #2F3C83;
}

#wideMenu {
    background-color: #9CA5D1;
}
#wideMenu button:hover {
    background-color: rgb(108, 115, 155);
}
#hamburger:hover {
    background-color: #9CA5D1;
}
#menu{
    background-color: #9CA5D1 ;
    border: solid 1px #2F3C83;
    
}
#menu button:hover {
    background-color:rgb(160, 165, 194) ;
}
main {
    background-color: rgb(212, 215, 233);
    height: 600px;
    background-image: url(../images/bored.png);
    background-size:480px;
    background-repeat: no-repeat;
    background-position: bottom;
    /* display: flex; */
}
@media (max-width: 480px) {
    main {
        padding-left: 70px;
    }    
}
/* im bored div */
main div:nth-of-type(1){
    /* width: 100%; */
    height: fit-content;
    color: #2F3C83;
    /* margin-top: 20px; */
    
 }
 main div:nth-of-type(1) h2{
   font-size: 30px;
 }
 /* begin button */
 main div button:hover {
     background-color:  #6A75AF;
     color: rgb(31, 30, 30);
 }

main div button {
    /* width: fit-content; */
    font-size: 40px;
    height: fit-content;
    color: #1A2667;
    margin-top: 20px;
    padding: 10px;
    background-color: #9CA5D1;
    border: #475496 1px solid;
    border-radius: 10px;
    border-left: 5px #1A2667 solid;
    border-bottom: 2px #1A2667 solid;
    border-right: none;
    display: flex;
    justify-content: center;
}

main div {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}