/* body {
} */
#hamburger{
    background-color: #6A75AF;
    border: solid 1px #2F3C83;
    border-radius: 10px;
    
}
h1 {
    font-size: 65px;
    background-color: teal;
}
h2 {
    
}
#wideMenu {
    background-color: #9CA5D1;
}
#hamburger:hover {
    background-color: #9CA5D1;
}
#menu{
    background-color: #9CA5D1 ;
    border: solid 1px #2F3C83;
    
}
main {
    background-color: rgb(212, 215, 233);
    
    /* border: 2px black solid; */
    height: 600px;
    background-image: url(../images/bored.png);
    background-size:480px;
    background-color: rgb(212, 217, 245);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    /* flex-direction: column; */
}
/* im bored div */
main div:nth-of-type(1){
    /* width: 100%; */
    height: fit-content;
    color: #2F3C83;
    /* margin-top: 20px; */
    
 }
 main div:nth-of-type(1) h2{
   font-size: 30px;
  
 }
 /* begin button */
 main div div{
    width: fit-content;
    font-size: 40px;
    height: fit-content;
    color: #1A2667;
    margin-top: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 10px;
    /* border: rgb(211, 238, 156) 2px solid; */
    background-color: #6A75AF;
    border: #475496 1px solid;
    border-radius: 10px;
    border-left: 5px #1A2667 solid;
    border-bottom: 2px #1A2667 solid;
    border-right: none;
 }

 main div div:hover {
     background-color: #9CA5D1;
     color: rgb(238, 0, 0);
 }
main div div a {
    text-decoration: none;
    width: 100%;
    align-self: center;
}
