h1 {
    font-size: 30px;
    justify-self: center;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 30px;
    
    color: #7E1344;
}
main form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 1000px;
    
}
h3 {
    margin-left: 15px;
    padding-bottom: 12px;
    
}
hr {
    border: #D776A2 solid 2px;
    border-radius: 2px;
}
fieldset {
    /* border: 1px black solid; */
    font-size: 20px;
    height: 350px;
   width: 480px;
    /* flex-direction: column; */
}
main {
    color: rgb(58, 9, 31) ;
    margin-top: 75px;
    background-color: rgb(230, 197, 212);
}
body {
    background-color: rgb(230, 197, 212);
}
#hamburger{
    background-color: #A12A60;
    border: solid 1px  #7E1344 ;
    border-radius: 10px;
    
}
#hamburger:hover {
    background-color: #D776A2;
}
#menu{
    background-color: #D776A2 ;
    border: solid 1px #7E1344;
    
}
header{
    color: #7E1344 

}
/* input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    
} */

#locationInput {
    margin-left: 30px;
    width: 400px;
    height: 40px;
    font-size: 20px;
}
input[type="radio"]:checked + label {
    background-color: #D776A2 ;
    
}

form label {
    /* border: orangered 2px solid; */
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 3px;
    /* justify-self: space-evenly; */
    /* flex-wrap: wrap; */
    display: inline-block;
    background-color: #D776A2 ;
    border: orchid 1px solid;
    border-radius: 5px;
    
   
}
form label:hover {
    background-color: #E8A5C3;
}
/* form label: {
    background-color: palegreen;
} */

#musicInput {
    margin-left: 30px;
    width: 400px;
    height: 40px;
    font-size: 20px;
}
main button {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    align-self: center;
    border: rebeccapurple 1px solid;
    border-radius: 10px;
    background-color: #E8A5C3;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(94, 26, 73);
}
main button:hover {
    background-color: rgb(231, 192, 210);
}
