* {
    outline: none;
}

#form-area {
   background-image: url(../images/looking.png);
    background-size:140px;
    background-repeat: no-repeat;
    background-position: bottom;
  height: 800px;
  background-color: rgb(201, 247, 247);
}

header{
    color: #7E1344 
}

#menu{
  background-color: #D776A2 ;
  border: solid 1px #7E1344;
}

#hamburger{
    background-color: rgb(245, 245, 245);
    border: solid 1px  #7E1344 ;
    border-radius: 10px;
}

#hamburger:hover {
    background-color: #D776A2;
}

#wideMenu {
    background-color: rgb(130, 248, 248);
   
}


#wideMenu button {
    background-color: rgb(163, 218, 218);

}

#wideMenu button:hover {
    background-color: rgb(201, 247, 247);

}

main {
    color: rgb(58, 9, 31) ;
    margin-top: 75px;
    background-color: rgb(245, 245, 245);
}

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(106, 194, 197);
    text-align: center;
}

main div, main div form section fieldset {
    display: flex;
    justify-content: center;
}

main div form section, #tastediveform {
  display: flex;
  align-items: center;
}

main, #tastediveform article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#locationform fieldset {
  padding-bottom: 30px;
}

form section {
  margin: 20px;
}

#details-form section fieldset {
  margin: 10px;
}

form section button:nth-of-type(1) {
  margin-left: 5px;
}

h3 {
  
   
    padding-top: 5px;
    padding-bottom: 5px;
    font-size:25px;
    font-family: 'Bree Serif', serif;
    text-align: center;
    color: white;
    text-shadow: rgb(75, 75, 75) 1px 1px;
}

hr {
    border: #D776A2 solid 2px;
    border-radius: 2px;
}

fieldset {
   border-top: #1e2411 .5px solid;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: fit-content;
    padding: 20px;
    background-color:  rgb(168, 235, 220);
}

main {
    color: rgb(58, 9, 31) ;
    margin-top: 75px;
    background-color: rgb(245, 245, 245);
}

body {
    background-color: rgb(245, 245, 245);
}

#hamburger{
    background-color: rgb(107, 187, 174);
    border: solid 1px   rgb(73, 136, 125) ;
    border-radius: 10px;
    
}

#hamburger:hover {
    background-color: rgb(160, 221, 206);
}


#menu button:hover {
    background-color:rgb(160, 221, 206) ;
}





form label {
    margin-bottom: 30px;
    padding: 3px;
    display: inline-block;
    background-color:rgb(106, 194, 197);
    border: rgb(106, 194, 197) 1px solid;
    border-radius: 5px;
    color: white;
    text-align: center;
}

form label:hover {
    background-color: rgb(160, 221, 206);
}

#locationInput, #musicInput {
  font-size: 20px;
  text-align: center;
}

#musicInput {
    margin-left: 30px;
}

main div form section button {
  height: 115px;
  align-self: center;
  border: rgb(29, 109, 92) 1px solid;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
  background-color: rgb(168, 235, 220);
  font-size: 30px;
  font-family: 'Permanent Marker', cursive;
  color: rgb(19, 56, 48);

}

#showyelpbutton {
    align-self: center;
    border: rgb(29, 109, 92) 1px solid;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    background-color: rgb(168, 235, 220);
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(19, 56, 48);
}

#showlocationbutton{
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
#showtriviabuttonfwd{
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}
#showyelpbuttonbk {
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
#showeventsbuttonfwd {
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
}

#showtriviabuttonbk {
     border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
#showeventsbuttonbk {
     border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 100%;
}
#finalsubmit {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 100px;
    align-self: center;
    border: white 3px solid;
    background-color: rgb(168, 235, 220);
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(94, 26, 73);
    margin-right: 15px;
}

main button:hover, #finalsubmit:hover {
    background-color: rgb(106, 194, 197);
}

/* desktop */
@media (min-width: 480px) {
  html {
    width: 100%;
    min-width: 960px;
  }


}