* {
    outline: none;
}

h1 {
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 30px;
    color: #7E1344;
    text-align: center;
}
main div, main div form section fieldset {
    display: flex;
    justify-content: center;
}

main div form section, #tastediveform {
  display: flex;
}

main, #tastediveform article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
    display: flex;
    justify-content: center;
}
hr {
    border: #D776A2 solid 2px;
    border-radius: 2px;
}
fieldset {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 480px;
}
main {
    color: rgb(58, 9, 31) ;
    margin-top: 75px;
    background-color: rgb(245, 245, 245);
}
body {
    background-color: rgb(245, 245, 245);
}
#hamburger{
    background-color: rgb(245, 245, 245);
    border: solid 1px  #7E1344 ;
    border-radius: 10px;
    
}
#hamburger:hover {
    background-color: #D776A2;
}
#menu{
    background-color: #D776A2 ;
    border: solid 1px #7E1344;
    
}
header{
    color: #7E1344 

}

#locationInput {
    margin-left: 30px;
    width: 400px;
    font-size: 20px;
}
input[type="radio"]:checked + label {
    background-color: #D776A2 ;
    
}

form label {
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 3px;
    display: inline-block;
    background-color: #D776A2 ;
    border: orchid 1px solid;
    border-radius: 5px;
}

form label:hover {
    background-color: #E8A5C3;
}

#musicInput {
    margin-left: 30px;
    width: 400px;
    font-size: 20px;
}

#showyelpbutton, main div form section button {
    align-self: center;
    border: rebeccapurple 1px solid;
    border-radius: 10px;
    background-color: #E8A5C3;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(94, 26, 73);
}

#finalsubmit {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 200px;
    align-self: center;
    border: rebeccapurple 1px solid;
    border-radius: 10px;
    background-color: #E8A5C3;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(94, 26, 73);
}
main button:hover, #finalsubmit:hover {
    background-color: rgb(231, 192, 210);
}
