.correct {
  background-color: rgb(200, 235, 130);
}

.incorrect {
  background-color: rgb(197, 10, 35);
  color: rgb(43, 5, 5);
}

[data-correct]:hover {
  cursor: pointer;
}

#details-form section fieldset, #finalsubmit {
  animation-name: showhide;
  animation-duration: 0.8s;
}

@keyframes showhide {
  from {opacity: 0;}
  to {opacity: 1;}
}
  